body {
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}
.header {
    text-align: center;
}
.profile {
    width: 150px;
}
.profile-name {
    margin-top: 5px;
    font-size: 36px;
}
.content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
}
.links {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100%);
    transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s;
    background-size: 100% 220%;
    background-position: 0px 0px;
}
.links:hover {
    color: black;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), #00ff6c calc(50% - 9px), #00ff6c 100%);
    background-position: 0px 100%;
}
h1 {
    font-size: 28px;
}
li{
    text-align: justify;
    margin-top: 0.7em;
}

/*Experience*/
.collapse {
    border-radius: 8px;
    overflow: hidden;
}
.collapse .tab-toggle {
    display: none;
}
.collapse .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 0.6em;
    margin-top: 0.5em;
    border-radius: 8px;
    border: 2px solid lightgrey;
    margin-bottom: 0.8em;
}
.collapse .tab-label:hover {
    background-color: #eddfe6;
}
.collapse .tab-toggle:checked ~.tab-label {
    /*background-color: #eddab4;*/
}
.collapse .tab-label::after {
    /*content: '\276F';*/
    content: '\002B';
    transition: all .4s;
}
.collapse .tab-toggle:checked ~ .tab-label::after {
    /*transform: rotate(90deg);*/
    content: '\002D';
}
.collapse .tab-content {
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: all .4s;
    padding: 0 1em;
}
.collapse .tab-toggle:checked ~ .tab-content {
    max-height: 100vh;
    padding: 0.2em;
}

/*Resume*/
.resume-container, .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}
.button {
    color: #000;
    text-align: center;
    padding: 10px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
}
.button:hover {
    color: #220ff5;
    border: 2px dotted #220ff5;
}

/*Cards*/
.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.card {
    width: 110px;
    height: 160px;
    margin: 10px;
    padding: 20px 20px 0 20px; 
    border: 2px solid lightgrey;
    border-radius: 10px;
}
.card:hover {
    /*box-shadow: 5px 5px 4px #888888;*/
    -webkit-box-shadow: 6px 7px 19px -1px rgba(148,133,148,0.75);
    -moz-box-shadow: 6px 7px 19px -1px rgba(148,133,148,0.75);
    box-shadow: 6px 7px 19px -1px rgba(148,133,148,0.75);
}

/*Works*/
.works-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-links {
    color: black;
    border: 1px solid lightgrey;
    margin: 5px;
}
.works {
    width: 300px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works:hover {
    opacity: 0.5;
}
.works-link {
    visibility: hidden;
}